<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ng-app="basic">
        <div ng-controller="loadingCtrl">

                <button ng-click="showContentRed()">Red</button>
                <button ng-click="showContentBlue()">Blue</button>
                <button ng-click="showContentGreen()">Green</button>
                    
                    <p ng-hide="red">RED ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                 
                    <p ng-hide="blue">BLUE ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                 
                    <p ng-hide="green">GREEN ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


            <button type="text" id="button" ng-bind="buttonText" ng-click="click()" ng-disabled="disable"></button>


            <button type="text" ng-click="likeClick()">{{ numLikes }} Likes</button>

            <form id="form_id" method="post" name="myform">
                <label>User Name :</label>
                <input type="text" name="username" id="username"/>
                <label>Password :</label>
                <input type="password" name="password" id="password"/>
                <input type="button" value="Login" id="submit" onclick="validate()"/>
            </form>


        </div>

        <!-- ng-bind acts as a template that goes between element tags -->

    
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="scripts/controllers/controllers.js"></script>
        <script type="text/javascript" src="scripts/my-app/app.js"></script>
    </body>
</html>